{
  "singleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
